body{
	font-family: Courier;
}
.logo{
	height: 150px;
}
.flex{
	display: flex;
}
.h1{
	font-size: 45px;
}
.m-l30{
	margin-left: 30px;
}
.avatar{
	height: 50px;
	width: 50px;
	margin-top: 10px;
	margin-left: 10px;
}
.color-b{
	height: 75px;
	width: 375px;
	margin-left: 50px;
	margin-top: 25px;
}
.color{
	height: 150px; 
	width: 300px;
}
.color2{
	height: 70px; 
	width: 200px;
	margin-left: 500px;
	margin-top: 10px;
}
button{
	padding: 0 20px;
	height: 45px;
	color: black;
	border: none;
	background-color: #13d37a;
	border-radius: 5px;
	margin-left: 25px;
	transition: .2s;
	margin-top: 15px;
	cursor: pointer;
	color: white;
	outline: none;
}
button:hover{
	background-color: #0d9958;
}
.m-l40{
	font-size: 25px;
	margin-left: 40px;
}
.font25{
	font-size: 20px;
}
.gl-div{
	height: 2000px;
}
.a{
	color: white;
	width: 200px;
	font-size: 25px;
	margin-left: 25px;
	color: white;
	text-decoration: none;
	background-color: #13d37a; 
	transition: .2s;
}
.a:hover{
	background-color: #0d9958;
}
.border{
	border: 1px grey solid;
	border-radius: 5px;
}
.tac{
	text-align: center;
}
.shaurma{
	height: 400px;
	width: 500px;
}
.menu{
	height: 1700px;
}
.div-a{
	height: 35px;
	width: 700px;
	margin-top: 25px;
}
.gl-div2{
	height: 1500px;
    width: 1450px;
}
.logo1{
	margin-left: 150px;
	margin-top: 50px;
	width: 960px;
	height: 350px;
}
.poloska{
	width: 1200px;
	height: 1px;
	background: grey; 
	margin-top: 50px;
}
.poloska1{
	width: 1200px;
	height: 1px;
	background: grey;
	width: 1450px;
}
.div-zakuski{
	height: 425px;
	width: 300px;
	margin-left: 75px;
	margin-top: 25px;
	border-radius: 10px;
}
.zakuski{
	height: 250px;
	width: 300px;
	border-radius: 10px;
}
.gl-div3{
	height: 1000px;
}
.m-l25{
	margin-left: 100px;
}
p{
	color: grey;
	margin-left: 10px;
}
.zakuska2{
	height: 500px;
	width: 1200px;
}
.niz{
	height: 400px;
	width: 800px;
}
.div-niz{
	height: 400px;
	width: 800px;
}
input {
  width: 600px;
  height: 42px;
  padding-left: 10px;
  border: 2px solid #7BA7AB;
  border-radius: 5px;
  outline: none;
  color: #9E9C9C;
  margin-left: 10px;
  margin-top: 15px;
  text-align: center;
}
.dostavka{
	height: 150px;
	width: 300px;
}
.opisanie{
	height: 400px;
	width: 500px;
}
.prava{
	height: 75px;
	width: 1000px;
	margin-left: 100px;
}